In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#importing data from Excel
df = pd.read_excel(r"C:\Users\DELL\Desktop\Cu_Analysis.xlsx")
raw = df
raw

   Control    GBS    PGS
0    1.240  1.215  4.455
1    0.575  2.155  3.695
2    0.305  1.280  3.997
3    0.850  1.200  2.155
4    0.758  1.560  2.335
5    1.280  0.935  3.210

In [3]:
number_of_samples = len(df.axes[0])
total_list = list(df[["Control","GBS","PGS"]].sum())
mean_list = np.array(total_list)/number_of_samples
print(mean_list)

[0.83466667 1.39083333 3.30783333]

In [4]:
df

   Control    GBS    PGS
0    1.240  1.215  4.455
1    0.575  2.155  3.695
2    0.305  1.280  3.997
3    0.850  1.200  2.155
4    0.758  1.560  2.335
5    1.280  0.935  3.210

In [5]:
np_data_columns = df.to_numpy()
sq_diff = ((np_data_columns - mean_list)**2)


advanced_stat = pd.DataFrame(sq_diff)
advanced_stat.columns = ['Control_sq_diff', 'GBS_sq_diff', 'PGS_sq_diff']
advanced_stat

   Control_sq_diff  GBS_sq_diff  PGS_sq_diff
0         0.164295     0.030917     1.315991
1         0.067427     0.583951     0.149898
2         0.280547     0.012284     0.474951
3         0.000235     0.036417     1.329025
4         0.005878     0.028617     0.946405
5         0.198322     0.207784     0.009571

In [6]:
total_sq_diff = list(advanced_stat[['Control_sq_diff', 'GBS_sq_diff', 'PGS_sq_diff']].sum())
variance_list = np.array(total_sq_diff)/number_of_samples

In [7]:
result = df.join(advanced_stat)
result

   Control    GBS    PGS  Control_sq_diff  GBS_sq_diff  PGS_sq_diff
0    1.240  1.215  4.455         0.164295     0.030917     1.315991
1    0.575  2.155  3.695         0.067427     0.583951     0.149898
2    0.305  1.280  3.997         0.280547     0.012284     0.474951
3    0.850  1.200  2.155         0.000235     0.036417     1.329025
4    0.758  1.560  2.335         0.005878     0.028617     0.946405
5    1.280  0.935  3.210         0.198322     0.207784     0.009571

In [8]:
sum_tot = np.array(total_list).sum()
sq_sum_tot = sum_tot**2
num_raw_data = number_of_samples * df.shape[1]
corr_fac = sq_sum_tot / num_raw_data
corr_fac

61.23555555555557

In [9]:
sq_each_col = np.array(total_list)**2
mean_each_col = sq_each_col / number_of_samples
compost_ss = mean_each_col.sum() - corr_fac
compost_ss

20.20152744444443

In [10]:
new_sq_tb = raw
col_to_sq = ["Control","GBS","PGS"]
new_sq_tb[col_to_sq] = new_sq_tb[col_to_sq] ** 2
total_list_sq = list(new_sq_tb[["Control","GBS","PGS"]].sum())

                     
# new_sq_tb
# compost_sq_tot = list(np.array(new_sq_tb[col_to_sq]))
# compost_sq_tot

In [11]:
compost_ss_tot = np.array(total_list_sq).sum() - corr_fac
compost_ss_tot

26.044042444444422

In [12]:
deg_fr = 2
mean_ss = compost_ss / deg_fr
mean_ss

10.100763722222215

In [13]:
df_ss = compost_ss_tot - compost_ss
ms_err = df_ss / (num_raw_data - deg_fr - 1)
ms_err

0.38950099999999943

In [14]:
f_cal = mean_ss / ms_err
f_cal

25.932574556219958

In [15]:
data = {
    'Degree of freedom': [deg_fr, num_raw_data-deg_fr],
    'Sum of squares': [compost_ss, df_ss],
    'Mean square': [mean_ss, ms_err],
    'Fcal': [f_cal]
}

row_labels = ['Composts', 'Error']

# Create the DataFrame
anova_tab = pd.DataFrame(data, index=row_labels)
anova_tab

          Degree of freedom  Sum of squares  Mean square       Fcal
Composts                  2       20.201527    10.100764  25.932575
Error                    16        5.842515     0.389501  25.932575