In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#importing data from Excel
df = pd.read_excel(r"C:\Users\DELL\Desktop\Cu_Analysis.xlsx")

df

   Control    GBS    PGS
0    1.240  1.215  4.455
1    0.575  2.155  3.695
2    0.305  1.280  3.997
3    0.850  1.200  2.155
4    0.758  1.560  2.335
5    1.280  0.935  3.210

In [5]:
number_of_samples = len(df.axes[0])
#creating a sum function
# df.loc["total"] = df[["Control","GBS","PGS"]].sum()

total_list = list(df[["Control","GBS","PGS"]].sum())
total_list

[5.008, 8.345, 19.847]

In [12]:
# df.loc["Mean"] = df.loc["total"].div(number_of_samples)


mean_list = np.array(total_list)/number_of_samples
mean_list

array([0.83466667, 1.39083333, 3.30783333])

In [13]:
df

   Control    GBS    PGS
0    1.240  1.215  4.455
1    0.575  2.155  3.695
2    0.305  1.280  3.997
3    0.850  1.200  2.155
4    0.758  1.560  2.335
5    1.280  0.935  3.210